<template>
  <div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <message :message="message" v-if="showMessage"></message>
          <a class="button is-primary is-middle modal-button" @click="openModalBasic">Nova Pesquisa</a>
          <table class="table">
            <thead>
              <tr>
                <th>Título</th>
                <th>Resumo</th>
                <th>Objetivos</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr :key="research.id" v-for="research in researches">
                <td>{{research.title}}</td>
                <td>{{research.summary}}</td>
                <td>{{research.goals}}</td>
                <td class="is-icon">
                  <a href="#">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </div>
    <modal :visible="showModal" @close="closeModalBasic" @mostrarMesagem="getMessage"></modal>
  </div>
</template>

<script>
import Modal from './modal'
import axios from 'axios'
import message from '../../components/message'

export default {
  data: () => ({
    showModal: false,
    researches: [],
    showMessage: false,
    message: ''
  }),

  components: {
    Modal,
    message
  },

  methods: {
    openModalBasic () {
      this.showModal = true
    },
    closeModalBasic () {
      this.showModal = false
    },
    getMessage (mensagem) {
      this.message = mensagem
      this.showMessage = true
      this.showResearches()
    },
    showResearches () {
      axios.get(`http://localhost:8000/api/v1/researches`)
      .then(response => {
        this.researches = response.data.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  },

  created () {
    this.showResearches()
  }
}
</script>
