<template>
  <modal :visible="visible" @close="close">
    <div class="box">
      <article class="tile is-parent">
        <div class="tile is-child box">
          <div class="content">
            <h3 class="title">Novo Usuário</h3>
            <hr>
            <form class="">
              <div class="field">
                <label class="label">Título</label>
                <div class="control">
                  <input class="input" v-model="research.title" type="text" placeholder="Título">
                </div>
              </div>
              <div class="field">
                <label class="label">Resumo</label>
                <div class="control">
                  <textarea class="textarea" v-model="research.summary"></textarea>
                </div>
                <p class="help is-danger"></p>
              </div>
              <div class="field">
                <label class="label">Objetivos</label>
                <div class="control">
                  <textarea class="textarea" v-model="research.goals"></textarea>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="has-text-right">
                  <button class="button is-link">Cancelar</button>
                  <button class="button is-primary" @click.self.prevent="saveResearch">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>
  </modal>
</template>

<style>
  .field:not(:last-child) {
    margin-bottom: 0.75rem;
  }
</style>

<script>
import { Modal } from 'vue-bulma-modal'
import {mask} from 'vue-the-mask'
import axios from 'axios'

export default {
  components: {
    Modal
  },

  data: () => ({
    research: {
      title: '',
      summary: '',
      goals: ''
    }
  }),

  props: {
    visible: Boolean
  },

  methods: {
    close () {
      this.$emit('close')
    },
    saveResearch () {
      axios.post(`http://localhost:8000/api/v1/researches`, this.research)
      .then(response => {
        this.$emit('close')
        this.$emit('mostrarMesagem', response.data.message)
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  },

  directives: {mask}
}
</script>
