<template>
  <div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <message :message="message" v-if="showMessage"></message>
          <a class="button is-primary is-middle modal-button" @click="openModalBasic">Nova Instituição</a>
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr :key="institution.id" v-for="institution in institutions">
                <td>{{institution.name}}</td>
                <td>{{institution.initials}}</td>
                <td class="is-icon">
                  <a @click="updateInstitution(institution.id)" href="#">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </div>
    <modal :visible="showModal" @close="closeModalBasic" @mostrarMesagem="getMessage"></modal>
  </div>
</template>

<script>
import bus from '../../bus'
import Modal from './modal'
import axios from 'axios'
import message from '../../components/message'

export default {
  data: () => ({
    showModal: false,
    institutions: [],
    showMessage: false,
    message: '',
    institution: {
      id: '',
      name: '',
      initials: '',
      status: 'S'
    }
  }),

  components: {
    Modal,
    message
  },

  methods: {
    openModalBasic () {
      this.showModal = true
    },
    closeModalBasic () {
      this.showModal = false
    },
    getMessage (mensagem) {
      this.message = mensagem
      this.showMessage = true
      this.showInstitutions()
      setTimeout(() => {
        this.showMessage = false
        this.message = ''
      }, 3000)
    },
    showInstitutions () {
      axios.get(`http://localhost:8000/api/v1/institutions`)
      .then(response => {
        this.institutions = response.data.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    },
    updateInstitution (id) {
      bus.$emit('get-institution', id)
      setTimeout(() => {
        this.showModal = true
      }, 1000)
    }
  },

  created () {
    this.showInstitutions()
  }
}
</script>
