<template>
  <modal :visible="visible" @close="close" @get="getInstitution">
    <div class="box">
      <article class="tile is-parent">
        <div class="tile is-child box">
          <div class="content">
            <h3 class="title">Nova Instituição</h3>
            <hr>
            <form class="" v-on:submit.prevent>
              <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                  <input class="input" v-model="institution.name" type="text" placeholder="Nome">
                </div>
              </div>
              <div class="field">
                <label class="label">Sigla</label>
                <div class="control">
                  <input class="input" v-model="institution.initials" type="text" placeholder="Sigla">
                </div>
                <p class="help is-danger"></p>
              </div>
              <div class="field is-grouped">
                <div class="has-text-right">
                  <button class="button is-link" @click="close">Cancelar</button>
                  <button v-if="!institution.id" class="button is-primary" @click.self.prevent="saveInstitution">Salvar</button>
                  <button v-else class="button is-primary" @click.self.prevent="updateInstitution">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>
  </modal>
</template>

<style>
  .field:not(:last-child) {
    margin-bottom: 0.75rem;
  }
</style>

<script>
import { Modal } from 'vue-bulma-modal'
import {mask} from 'vue-the-mask'
import axios from 'axios'
import bus from '../../bus'

export default {
  components: {
    Modal
  },

  data: () => ({
    institution: {
      id: '',
      name: '',
      initials: '',
      status: 'S'
    }
  }),

  props: {
    visible: Boolean
  },

  methods: {
    close () {
      this.$emit('close')
      this.institution.name = ''
      this.institution.initials = ''
    },
    saveInstitution () {
      axios.post(`http://localhost:8000/api/v1/institutions`, this.institution)
      .then(response => {
        this.$emit('close')
        this.$emit('mostrarMesagem', response.data.message)
        this.institution.name = ''
        this.institution.initials = ''
      })
      .catch(e => {
        this.errors.push(e)
      })
    },
    updateInstitution () {
      axios.put(`http://localhost:8000/api/v1/institutions/` + this.institution.id, this.institution)
      .then(response => {
        this.$emit('close')
        this.$emit('mostrarMesagem', response.data.data.message)
        this.institution.name = ''
        this.institution.initials = ''
      })
      .catch(e => {
        this.errors.push(e)
      })
    },
    getInstitution (id) {
      axios.get(`http://localhost:8000/api/v1/institutions/` + id)
      .then(response => {
        this.institution = response.data.data
      })
    }
  },

  mounted () {
    bus.$on('get-institution', (id) => this.getInstitution(id))
  },

  directives: {mask}
}
</script>
