<template>
  <modal :visible="visible" @close="close">
    <div class="box">
      <article class="tile is-parent">
        <div class="tile is-child box">
          <div class="content">
            <h3 class="title">Novo Projeto</h3>
            <hr>
            <form class="" v-on:submit.prevent>
              <div class="field">
                <label class="label">Título</label>
                <div class="control">
                  <input class="input" v-model="project.title" type="text" placeholder="Nome">
                </div>
              </div>
              <div class="field">
                <label class="label">Resumo</label>
                <div class="control">
                  <textarea class="textarea" v-model="project.summary"></textarea>
                </div>
                <p class="help is-danger"></p>
              </div>
              <div class="field">
                <label class="label">Justificativa</label>
                <div class="control">
                  <textarea class="textarea" v-model="project.justification"></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">Objetivos</label>
                <div class="control">
                  <textarea class="textarea" v-model="project.goals"></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">Instituições <a @click="addInstituion" href="#">
                  <i class="fa fa-plus"></i>
                </a></label>
                <div class="control" v-for="(institution, key) in project.institutions">
                  <select class="input" v-model="project.institutions[key].id">
                    <option value="" selected>Selecione...</option>
                    <option v-for="institution in institutions" :key="institution.id" :value="institution.id">{{institution.name}}</option>
                  </select>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="has-text-right">
                  <button class="button is-link" @click="close">Cancelar</button>
                  <button class="button is-primary" @click.self.prevent="saveProject">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>
  </modal>
</template>

<style>
  .field:not(:last-child) {
    margin-bottom: 0.75rem;
  }
</style>

<script>
import { Modal } from 'vue-bulma-modal'
import {mask} from 'vue-the-mask'
import axios from 'axios'

export default {
  components: {
    Modal
  },

  data: () => ({
    project: {
      title: '',
      summary: '',
      justification: '',
      goals: '',
      institutions: []
    },
    institutions: []
  }),

  props: {
    visible: Boolean
  },

  methods: {
    close () {
      this.$emit('close')
    },
    saveProject () {
      axios.post(`http://localhost:8000/api/v1/projects`, this.project)
      .then(response => {
        this.$emit('close')
        this.$emit('mostrarMesagem', response.data.message)
      })
      .catch(e => {
        this.errors.push(e)
      })
    },
    addInstituion () {
      this.project.institutions.push({
        id: ''
      })
    },
    showInstitutions () {
      axios.get(`http://localhost:8000/api/v1/institutions`)
      .then(response => {
        this.institutions = response.data.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  },

  created () {
    this.showInstitutions()
  },

  directives: {mask}
}
</script>
