<template>
  <message>
        <div class="notification is-success">
            {{message}}
        </div>
  </message>
</template>

<style>
    .notification {
        margin-bottom: 15px;
        text-align: center;
        font-size: 16px;
        padding: 0.7rem 2.5rem 0.7rem 1.5rem
    }
</style>

<script>
export default {
  data: () => ({
  }),
  props: {
    message: ''
  },
  components: {}
}
</script>
