<template>
  <div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <message :message="message" v-if="showMessage"></message>
          <a class="button is-primary is-middle modal-button" @click="openModalBasic">Novo Usuário</a>
          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Perfil</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr :key="user.id"  v-for="user in users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.cpf}}</td>
                <td>{{user.profile.name}}</td>
                <td class="is-icon">
                  <a href="#">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </article>
      </div>
    </div>
    <modal :visible="showModal" @close="closeModalBasic" @mostrarMesagem="getMessage"></modal>
  </div>
</template>

<script>
import Modal from './modal'
import axios from 'axios'
import message from '../../components/message'

export default {
  data: () => ({
    showModal: false,
    users: [],
    showMessage: false,
    message: ''
  }),

  components: {
    Modal,
    message
  },

  methods: {
    openModalBasic () {
      this.showModal = true
    },
    closeModalBasic () {
      this.showModal = false
    },
    getMessage (mensagem) {
      this.message = mensagem
      this.showMessage = true
      this.showUsers()
    },
    showUsers () {
      axios.get(`http://localhost:8000/api/v1/users`)
      .then(response => {
        this.users = response.data.data
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  },

  created () {
    this.showUsers()
  }
}
</script>
