<template>
  <modal :visible="visible" @close="close">
    <div class="box">
      <article class="tile is-parent">
        <div class="tile is-child box">
          <div class="content">
            <h3 class="title">Novo Usuário</h3>
            <hr>
            <form class="">
              <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                  <input class="input" v-model="user.name" type="text" placeholder="Nome">
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" v-model="user.email" type="email" placeholder="Email">
                </div>
                <p class="help is-danger"></p>
              </div>
              <div class="field">
                <label class="label">Senha</label>
                <div class="control">
                  <input class="input" v-model="user.password" type="password" placeholder="Senha">
                </div>
              </div>
              <div class="field">
                <label class="label">Confirmar Senha</label>
                <div class="control">
                  <input class="input" type="password" placeholder="Confirmar Senha">
                </div>
              </div>
              <div class="field">
                <label class="label">CPF</label>
                <div class="control">
                  <input class="input" v-model="user.cpf" v-mask="'###.###.###-##'" type="text" placeholder="CPF">
                </div>
              </div>
              <div class="field">
                <label class="label">Perfil</label>
                <div class="control">
                  <select class="input" v-model="user.profile_id">
                    <option value="" selected>Selecione...</option>
                    <option v-for="profile in profiles" :key="profile.id" :value="profile.id">{{profile.name}}</option>
                  </select>
                </div>
              </div>
              <div class="field is-grouped">
                <div class="has-text-right">
                  <button class="button is-link">Cancelar</button>
                  <button class="button is-primary" @click.self.prevent="saveUser">Salvar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>
    </div>
  </modal>
</template>

<style>
  .field:not(:last-child) {
    margin-bottom: 0.75rem;
  }
</style>

<script>
import { Modal } from 'vue-bulma-modal'
import {mask} from 'vue-the-mask'
import axios from 'axios'

export default {
  components: {
    Modal
  },

  data: () => ({
    user: {
      name: '',
      email: '',
      password: '',
      cpf: '',
      profile_id: '',
      status: 'S'
    },
    profiles: []
  }),

  props: {
    visible: Boolean
  },

  methods: {
    close () {
      this.$emit('close')
    },
    saveUser () {
      axios.post(`http://localhost:8000/api/v1/users`, this.user)
      .then(response => {
        this.$emit('close')
        this.$emit('mostrarMesagem', response.data.message)
      })
      .catch(e => {
        this.errors.push(e)
      })
    }
  },

  directives: {mask},

  created () {
    axios.get(`http://localhost:8000/api/v1/profiles`)
    .then(response => {
      this.profiles = response.data.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  }
}
</script>
