<template>
  <div>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
          <p class="title">Usuários</p>
          <p class="subtitle">{{countUser}}</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-warning">
          <p class="title">Projetos</p>
          <p class="subtitle">{{countProject}}</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Pesquisas</p>
          <p class="subtitle">{{countResearch}}</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-success">
          <p class="title">Notícias</p>
          <p class="subtitle">{{countNews}}</p>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  components: {},

  data: () => ({
    countUser: '',
    countProject: '',
    countResearch: '',
    countNews: ''
  }),

  computed: {},

  mounted () {},

  created () {
    axios.get(`http://localhost:8000/api/v1/users/get-count-users`)
      .then(response => {
        this.countUser = response.data.data
      })

    axios.get(`http://localhost:8000/api/v1/projects/get-count-projects`)
      .then(response => {
        this.countProject = response.data.data
      })

    axios.get(`http://localhost:8000/api/v1/researches/get-count-researches`)
      .then(response => {
        this.countResearch = response.data.data
      })

    axios.get(`http://localhost:8000/api/v1/news/get-count-news`)
      .then(response => {
        this.countNews = response.data.data
      })
  }
}
</script>

<style lang="scss" scoped>
</style>
